@charset "utf-8";
/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
header, nav, main, footer {
    width: 80%;
	padding: 20px;
    margin: 0 auto;
}
main {
    background-color: #74A0F8;
	height: auto;
}

header{
	background-color: #800909;
}

header h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
}

section {
    background-color: #E5F671;
    color: #000000;
	margin: 30px auto;
    padding: 30px;
	width: 80%;
	height: auto;
}
section img {
    height: auto;
    width: 30%;
    margin: 20px;
    padding: 0 auto;
    float: right;
}

main section h2 {
    background-color: #ACAB02;
    color: #236001;
    font-size: 25px;
    text-align: left;
}
footer h6 {
    color: #F7F4F4;
    text-align: center;
    font-size: 18px;
}
footer  {
    background-color: #54A8AC;
}

nav {
    background-color: #D85557;
    padding: 0 auto;
	height: auto;
    color: #FFFFFF;
}
nav ul li {
    width: 100px;
    padding: 0;
    display: inline-block;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    list-style-type: none;
}
nav ul li a:link {
    color: #941114;
}
nav ul li a:visited {
    color: #D8FF00;
}
nav ul li a:hover {
    color: #9304AC;
}
